@model CustomerViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}

<input type="submit" name="Signup" value="Add New Customer" class="btn btn-default" onclick="location.href='@Url.Action("Signup", "Customers")'" />

<h2>Customers</h2>




<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>CustomerID</th>
            <th>Action</th>
        </tr>
        @{
            foreach (CustomerViewModel customer in Customer.CustomerViewModels)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.FirstName, "Update", "Customers", new { id = customer.Id })
                    </td>
                    <td>
                        @customer.LastName
                    </td>
                    <td>
                        @customer.Id
                    </td>
                    <td>
                        <form>
                            <input asp-for="Id" class="control-label" type="hidden" value="@customer.Id" />
                            <input asp-action="Update" type="submit" value="Update" class="btn btn-default" />
                            <input asp-action="Delete" type="submit" value="Delete" class="btn btn-default" />
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    

